@import "../variables.scss";

.cont-component-gap {
  position: relative;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  height: 24px;
}

.component-gap {
  height: 24px;
  position: relative;
  top: 0;
  width: 100%;
  height: 24px;
}

@keyframes fadeInGrow {
  0% {
    opacity: 0.2;
    transform: scale(0.1) rotate(-45deg);
    left: -45px;
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(-45deg);
    left: -45px;
  }
}

.add-component-button {
  width: 16px;
  height: 16px;
  display: block;
  fill: rgb(35, 131, 226);
  flex-shrink: 0;
  transform: rotate(45deg);
}

.cont-add-component-btn {
  user-select: none;
  transition: background 20ms ease-in;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 100% 100% 6px;
  height: 32px;
  width: 32px;
  padding: 0px;
  background: rgba(35, 131, 226, 0.14);
  position: absolute;
  left: -45px;
  top: -5px;
  z-index: 1000;
  animation: fadeInGrow 0.2s ease;
  transform: rotate(-45deg);
}
