@import "../../variables"; // Import des variables SCSS

.button-default {
  border: none;
  background: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size-default;
  text-align: center;
  border-radius: $border-radius-small;
  // transition: background-color 0.3s ease, border-color 0.3s ease;

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 0.9;
  }
}
