@import "../../variables";

.button-variant4 {
  transition: background 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 26px;
  &:hover {
    background: rgba(255, 255, 255, 0.1);
    // border-color: darken($primary-color, 10%);
  }
}

.menu-svg {
  opacity: 1;
  transition: opacity 100ms ease;
  position: absolute;
  top: 4px;
  right: 5px;
}

.menu-svg-hover {
  opacity: 0;
  transition: opacity 100ms ease;
  position: absolute;
  top: 4px;
  right: 5px;
}

.button-variant4:hover .menu-svg-hover {
  opacity: 1;
}

.button-variant4:hover .menu-svg {
  opacity: 0;
}
