@import "../../variables";

.button-variant5 {
  color: white;
  padding: 2px 5px;
  margin: 1px 5px 1px 5px;
  transition: background 0.25s;
  //   background-color: $bg-secondary-color;
  border: 1px solid $border-primary;
}

.button-variant5 button svg {
  height: 26px;
  width: 26px;
}

.button-variant5 span {
  padding-left: 5px;
  font-size: 12px;
}

.btn-delete {
  background: rgba(135, 131, 120, 0.15);
  border-color: #eb5757;
  padding: 0.2em 0.4em;
  span {
    color: #eb5757;
  }
  svg {
    fill: #eb5757;
  }
}

.btn-duplicate {
  background-color: rgba(120, 129, 135, 0.15);
  border-color: #5786eb;
  padding: 0.2em 0.4em;
  span {
    color: #5786eb;
  }
  svg {
    fill: #5786eb;
  }
}

.btn-required {
  background-color: rgba(135, 132, 120, 0.15);
  border-color: #ebbf57;
  padding: 0.2em 0.4em;
  span {
    color: #ebbf57;
  }
  svg {
    fill: #ebbf57;
  }
}

// .numeric-documents .documentCount {
//   background-color: rgba(120, 129, 135, 0.15);
//   border-radius: 4px;
//   color: #5786eb;
//   padding: 0.2em 0.4em;
//   font-size: 80%;
// }

// .numeric-documents .articleCount {
//   background: rgba(135, 131, 120, 0.15);
//   border-radius: 4px;
//   color: #eb5757;
//   padding: 0.2em 0.4em;
//   font-size: 80%;
// }
