@import "../../variables";

.button-variant2 {
  display: none;
}

.selected .button-variant2 {
  display: flex;
  background-color: none;
  color: white;
  margin-right: 2px;
  padding: 5px;

  &:hover {
    background-color: $bg-secondary-color;
    // border-color: darken($primary-color, 10%);
  }
}

.button-variant2 svg {
  fill: #a2a0a2;
  height: 16px;
  width: 16px;
}

.selected .button-variant2:hover svg {
  fill: #ffffff;
}
