// Import des variables globales
@import "./variables";

//----------------------------
// Input + Variant
//----------------------------
@import "./input/InputDefault.scss";
@import "./input/InputVariant1.scss";
@import "./input/InputVariant2.scss";
@import "./input/InputVariant3.scss";

//----------------------------
// Button
//----------------------------

// Button Default with Variant
@import "./btn/default/ButtonDefault.scss";
@import "./btn/default/ButtonDefaultVariant1.scss";
@import "./btn/default/ButtonDefaultVariant2.scss";
@import "./btn/default/ButtonDefaultVariant3.scss";
@import "./btn/default/ButtonDefaultVariant4.scss";
@import "./btn/default/ButtonDefaultVariant5.scss";

@import "./btn/DropDown.scss";
@import "./btn/ButtonSelect.scss";
@import "./btn/BtnProfile.scss";
//----------------------------
// Card
//----------------------------
@import "./card/Card";
@import "./card/UserCardSurvey";

//----------------------------
// NavBar
//----------------------------
@import "./navbar/MainSideBarUser.scss";
@import "./navbar/NavbarSurveyEdit.scss";
@import "./navbar/NavbarSurveyView.scss";
@import "./navbar/MainNavBar.scss";
//  @import "./navbar";

//----------------------------
// adminSurveyComponents
//----------------------------
@import "./adminSurveyComponents/MultipleChoiceSurvey.scss";
@import "./adminSurveyComponents/DateQuestionSurvey.scss";
@import "./adminSurveyComponents/ShortAnswerQuestionSurvey.scss";
@import "./adminSurveyComponents/TimeQuestionSurvey.scss";

@import "./adminSurveyComponents/WrapperQuestionSurvey.scss";
@import "./adminSurveyComponents/HeaderSurvey.scss";

//----------------------------
// userSurveyComponents
//----------------------------
@import "./userSurveyComponents/UserTemplateListSurvey.scss";
@import "./userSurveyComponents/SurveyAnswer.scss";

@import "./userSurveyComponents/DateQuestionSurveyAnswer.scss";
@import "./userSurveyComponents/MultipleChoiceSurveyAnswer.scss";
@import "./userSurveyComponents/ShortAnswerSurveyAnswer.scss";
@import "./userSurveyComponents/TimeQuestionSurveyAnswer.scss";

//----------------------------
// header
//----------------------------
@import "./header/HeaderQuestionSurveyEdit.scss";
@import "./header/HeaderQuestionSurveyView.scss";

//----------------------------
// footer
//----------------------------
@import "./footer/FooterQuestionSurveyEdit.scss";

.document-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: $bg-secondary-color;
  min-width: 200px;
}
