@import "../variables";

.btn-profile-container {
  width: 100%;
  bottom: 0px;
  padding: 10px;
  left: 0;
  position: relative;
}

.btn-profile {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: #2e2e30;
  border: none;
  width: 100%;
  outline: 1px solid $border-color;
  border-radius: $border-radius-medium;
}

.profile-icon {
  width: 28px;
  height: 28px;
  background-color: orange;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.user-name {
  color: white;
  font-size: 10px;
}

.user-email {
  color: white;
  font-size: 12px;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  transition: transform 0.3s ease;
}

.arrow.down {
  border-top: 6px solid white;
}

.arrow.up {
  border-bottom: 6px solid white;
}

.profile-options {
  position: absolute;
  bottom: 100%; /* 4px au-dessus du bouton */
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 10px 0 10px;
}

.cont-profile-options {
  outline: 1px solid $border-color;
  border-radius: $border-radius-medium;
  padding: 10px;
  background-color: #28292b;
}

.option-btn {
  background: none;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 1px 0;
  text-align: left;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.option-btn:hover {
  background-color: rgba(252, 252, 252, 0.05);
}
