@import "../variables";

.edit-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  width: 100%;
  margin: 0px 4px;
  border-radius: 6px;
  white-space: nowrap;
  height: fit-content;

  &:hover {
    background-color: $bg-tertiary-color;
  }
}

.edit-button svg {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  fill: rgba(255, 255, 255, 0.81);
}
