@import "../variables";

.save-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  width: 100%;
  margin: 0px 4px;
  border-radius: 6px;
  white-space: nowrap;
  height: fit-content;

  &:hover {
    background-color: $bg-tertiary-color;
  }
}

.survey-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
