@import "../variables";

.dropdown-container {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 200px;
}

.dropdown-btn {
  color: white;
  padding: 2px 5px;
  margin: 1px 5px 1px 5px;
  transition: background 0.25s;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #424244;
  font-size: 12px;
  white-space: nowrap;
}

.dropdown-list {
  background-color: $bg-primary-color;
  position: absolute;
  left: 5px;
  width: 100px;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 99999;
  border-radius: 5px;
}

.dropdown-list.show {
  opacity: 1;
  visibility: visible;
  border: 1px solid $border-primary;
  height: fit-content;
}

.dropdown-list li {
  position: relative;
  list-style: none;
}

.dropdown-list li + li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  height: 1px;
  background-color: $border-primary; /* Séparateur entre les éléments */
}

.dropdown-item {
  text-align: left;
  color: #ffffff;
  border: none;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 12px;
  white-space: nowrap;
  padding: 5px 0px;
}

.dropdown-item:hover {
  background-color: $hover-background;
}

.cont-select-question-type {
  position: relative;
}
