@import "../variables.scss";

.navbar {
  background: transparent;
  min-height: 44px;
  max-width: 100vw;
  z-index: 100;
  user-select: none;
  display: flex;
  flex-direction: row;
  padding: 0 10px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left svg {
  width: 16px;
  height: 16px;
  display: block;
  fill: rgba(255, 255, 255, 0.81);
}

.navbar-center {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.sidebar-toggle {
  color: white;
  font-size: 20px;
  cursor: pointer;
  background: none;
  border: none;
  padding-right: 20px;
}

.create-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}

.navbar-input {
  width: 300px;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

.navbar-btn {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.resize-handle:hover {
  background-color: $border-secondary;
}
