@import "../variables.scss";

.layout-container {
  flex: 1 1 0;
  min-height: 1px;
  display: flex;
}

.sidebar {
  background-color: $bg-secondary-color;
  box-shadow: rgba(255, 255, 255, 0.05) -1px 0px 0px 0px inset;
  display: flex;
  height: 100vh;
  flex: none;
  z-index: 9999;
  justify-content: flex-end;
  position: relative;
  user-select: none;
}

.resize-handle:hover {
  background-color: $border-secondary !important;
}

.sub-sidebar {
  display: flex;
}

.sidebare {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.resize-handle {
  position: absolute;
  top: 0;
  right: 0.5px;
  width: 2px;
  height: 100%;
  background-color: transparent;
  cursor: col-resize;
  position: absolute;
  transition: background 150ms;
}

//-------------------------------------
//-------------------------------------
//-------------------------------------
//-------------------------------------
//-------------------------------------
//-------------------------------------
//-------------------------------------
//-------------------------------------

// .top-link-content-Sidebar {
// border-bottom: 1px solid $border-primary;
// }

.top-btn-sidebar {
  list-style: none;
  margin: 4px 8px 0px 8px;
}

.top-btn-sidebar-item {
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  transition: background 0.15s;
  width: 100%;
  cursor: pointer;
}

.top-btn-sidebar-item svg {
  width: 20px;
  height: 20px;
  display: block;
  fill: rgb(155, 155, 155);
  flex-shrink: 0;
  margin-right: 8px;
}

.top-btn-sidebar-item a {
  color: $font-tertiary-color;
  font-weight: 600;
  padding: 8px 8px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.top-btn-sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.055);
}

.top-btn-sidebar-item a {
  font-size: 14px;
  text-decoration: none;
}

.top-sidebar-accont-param {
  margin: 8px 8px 0px 8px;
}

.top-link-content-Sidebar {
  display: block;
  flex-direction: column;
}

.sidebar-toggle svg {
  width: 16px;
  height: 16px;
  display: block;
  fill: rgba(255, 255, 255, 0.81);
  margin: 0;
  transition: opacity 100ms ease;
  position: absolute;
  top: 5px;
  right: 6px;
}

.sidebar-create-document svg {
  width: 24px;
  height: 24px;
  display: block;
  fill: rgba(255, 255, 255, 0.81);
  margin: 0;
}

.sidebar-create-document {
  margin-right: 2px;
}

.cont-btn-top-sidebar {
  display: flex;
  flex-direction: row;
}
