@import "../variables.scss";

.create-arcticle-component-heading-level-1 {
  border: 1px solid $border-primary;
  border-radius: 10px;
  background-color: $bg-secondary-color;
  padding: 15px;
  margin: 15px 0px;
}
