@import "../variables.scss";

// .question-wrapper {

// }

.question-container {
  border: 0.5px solid $border-primary;
  border-radius: 8.5px;
  width: 100%;
}

.question-container:hover {
  border: 0.5px solid #6a696a;
}

.question-container:focus-within {
  border: 0.5px solid #a2a0a2;
}

// .question-wrapper.selected {
//   box-shadow: 0px 0px 5px -2px rgb(56, 36, 200);

// --color-inverse-border: #424244;
//         --color-inverse-border-hover: #6a696a;
//         --color-inverse-border-active: #a2a0a2;
//         --color-inverse-border-strong: #fff;
// }

.cont-form-doc {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

// .contenaire-questions-survey {
//   display: flex;
//   flex-direction: column;
//   gap: 24px;
// }

.dnd-question-header {
  min-width: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dnd-question-header svg {
  fill: #a2a0a2;
  stroke: #a2a0a2;
  transition: fill 0.2s;
  cursor: grab;
}

.dnd-question-header svg:target {
  cursor: grabbing;
}

.multiple-choice-question .create-option {
  user-select: none;
  transition: background 20ms ease-in;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  height: 28px;
  border-radius: 6px;
  font-size: 14px;
  line-height: 1.2;
  min-width: 0px;
  padding-left: 6px;
  padding-right: 8px;
  color: rgba(255, 255, 255, 0.282);
  margin-left: 4px;
  margin-top: 4px;

  &:hover {
    background: rgba(255, 255, 255, 0.055);
  }
}

.create-option .plus {
  width: 18px;
  height: 14px;
  display: block;
  fill: rgba(255, 255, 255, 0.282);
  flex-shrink: 0;
  margin-right: 11px;
  margin-left: 1px;
}
