@import "../variables.scss";

.date-question-survey-answer {
  border: 1px solid $border-primary;
  border-radius: 10px;
  background-color: $bg-tertiary-color;
  padding: 15px;
  margin: 15px 0px;
}
.date-question-survey-answer h3 {
  margin-bottom: 15px;
}
