@import "../variables.scss";

.short-answer-survey-answer {
  border: 1px solid $border;
  border-radius: 10px;
  background-color: $bg-secondary-color;
  padding: 15px;
  margin: 15px 0px;
}

.short-answer-survey-answer h3 {
  margin-bottom: 15px;
}
