@import "../variables.scss";

.document-group {
  margin-top: 30px;
}

.title-document-cont {
  display: flex;
  flex-direction: column;
}

.title-documents {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  margin: 8px 0;
}

.numeric-documents {
  color: $font-secondary-color;
  margin: 8px 0;
}

.numeric-documents .documentCount {
  background-color: rgba(120, 129, 135, 0.15);
  border-radius: 4px;
  color: #5786eb;
  padding: 0.2em 0.4em;
  font-size: 80%;
}

.numeric-documents .articleCount {
  background: rgba(135, 131, 120, 0.15);
  border-radius: 4px;
  color: #eb5757;
  padding: 0.2em 0.4em;
  font-size: 80%;
}

.actions-buttons-documents {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.cont-action-button {
  position: relative;
  display: flex;
  flex: 1 1 0%;
  width: 50%;
}

.action-button-document {
  display: flex;
  text-decoration: none;
  user-select: none;
  transition: background 20ms ease-in;
  cursor: pointer;
  padding: 12px 20px;
  align-items: center;
  gap: 12px;
  flex: 1 1 auto;
  height: 82px;
  border-radius: 12px;
  background: $bg-tertiary-color;
  border: 1px solid $border-primary;
}

.hover-action-survey:hover {
  border: 1px solid rgba(35, 131, 226, 0.4);
  background: rgba(35, 131, 226, 0.14);
}

.hover-action-article:hover {
  border: 1px solid rgba(226, 35, 35, 0.4);
  background: rgba(226, 35, 35, 0.14);
}

.title-action-button {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 23px;
}
