@import "../variables";

.header-question-survey textarea {
  max-width: 100%;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: rgba(255, 255, 255, 0.81);
  padding: 0px 10px;
  margin: 10px 0px;
  font-size: 24px;
  line-height: 30px;
  border-radius: 6px;
  font-weight: 700;
  cursor: text;
}

// .header-question-survey .dnd-question {
//   padding: 5px;
//   border-radius: 4px;
//   background-color: $bg-quinary-color;
//   border: 1px solid $border-secondary;
//   display: flex;
//   align-items: center;
//   opacity: 0;
//   transition: opacity 0.1s ease;
// }

// .question-wrapper:hover .dnd-question {
//   opacity: 1;
// }

.header-question-survey {
  display: flex;
  width: 100%;
  flex-direction: column;
}
